<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
<title>폴라로이드 느낌의 사진 만들기</title>
<style>
  div {
      width:400px;
      height:300px;
   }
   .p {
      border:1px solid gray;
      margin-top:65px;
      margin-left:100px;
      box-shadow:3px 3px 3px 2px lightgray;
   }
   #img {
      background-image:url('/gp/image/ebichu.png');
      background-repeat:no-repeat;
      background-size:95% 70%;
      background-position:50% 10%;
   }
   #text {
      margin-top:240px;
      text-align:center;
      color:green;
      font-family: 'Song Myung', serif;
   }
</style>
</head>
<body>
	<h2><b>폴라로이드 느낌의 사진 만들기</b></h2>
	<hr>
	<div class="p" id="img">
		<p id="text"><b>에비츄 힘드러ㅠ.ㅠ</b></p>
	</div>
</body>
</html>