<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>
		.picture {
			border:solid #fff;
    		border-width:6px 6px 20px 6px;
    		box-shadow:1px 1px 5px #333;
    		height:550px;
    		width:400px;
    		margin-left: auto;
 			margin-right: auto;}
		.text {
			font-family :courier;
			text-align: center;
			color:#754C00;
			padding: 6px;
			font-style : italic;}
		</style>
		<title>폴라로이드 느낌의 사진 만들기</title>
	</head>
	<body>
		<h2><b>*폴라로이드 느낌의 사진 만들기</b></h2>
		<hr>
		<div class="picture">
			<img src="http://localhost:8080/gp/image/DKS.jpg"
				alt="도경수" width="400" height="500">
			<div class="text">
				<h3>Very handsome</h3>
			</div>
		</div>
	</body>
</html>