<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h3>회원가입</h3>

<form>
 성:<br>
 <input type="text" name="성">
 <br>
 이름:<br>
 <input type="text" name="이름">
 <br>
 성별:<br>
 <input type="radio" name="gender" value="male">여자<br>
 <input type="radio" name="gender" value="female">남자<br>
  대학교:<br>
 <select name="대학교">
  <option value="서울대학교">서울대학교</option>
  <option value="연세대학교">연세대학교</option>
  <option value="고려대학교">고려대학교</option>
  <option value="가톨릭관동대학교">가톨릭관동대학교</option>
</select><br>
 전공:<br>
 <input type="checkbox" name="chk_info" value="의료IT">의료IT<br>
 <input type="checkbox" name="chk_info" value="의료공학과">의료공학과<br>
 <input type="checkbox" name="chk_info" value="의료경영학과">의료경영학과<br>
컬러:<br>
 <input type="color" value="#e66465"><br>
날짜:<br>
 <input type="date" value="xxx" min="yyy" max="zzz">
 <br><br>
 <input type="submit" value="가입하기">
</form>

</body>
</html>