<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> 실습2 </title>
</head>
<body>
<form >
First name:<br>
  <input type="text" name="firstname" >  <br>
  Last name:<br>
  <input type="text" name="lastname" > <br>
   Email:<br>
  <input type="text" name="lastname" > <br>
  
  Gender:
  <input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female<br>
  
   Favorite: 
  <input type="checkbox" name="favorite" value="l"> 음악듣기
  <input type="checkbox" name="favorite" value="r"> 책읽기
  <input type="checkbox" name="favorite" value="m"> 등산
  <input type="checkbox" name="favorite" value="r"> 기타<br>
  
  FOOD:
  <select name="food">
  <option value="pizza">피자</option>
  <option value="ham">햄버거</option>
  <option value="DD">떡볶이</option>
</select> <br>

Color: 
   <input type="color" name="favcolor" > <br>
   
    Date:
   <input type="date" name="bday"> <br>   
   <br><br>
  
    <input type="button" value="Registration">
    </form>
</body>
</html>