<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>폴라로이드 느낌 사진 만들기</title>
<style>
div{
text-align: center;  
padding: 10px 5px 5px 5px;
background:#FFFFFF;  
 border:1px solid #000000; 
 box-shadow: 5px 5px 5px #8C8C8C;
 width:500px; height:400px;}
img{width:480px; height:300px;  
     display: block;
     padding-bottom:20px;
  margin-left: auto;
  margin-right: auto;}
#text{color:purple; }
</style>
</head>
<body>
 <h2><b>폴라로이드 느낌의 사진 만들기</b></h2>
 <hr>
 <div class="p" id="pp">
 <img src="http://localhost:8080/gp/image/ZZ.gif" alt="짱구야 놀자" />
  <p id="text"><b>짱구♥</b></p>
  </div>
</body>
</html>