<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>홈페이지 만들기</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<Style> 
img{width:250px; height:120px;  
     display: block;
  margin-left: auto;
  margin-right: auto;}
</Style>
</head>
<body>
<img src="http://localhost:8080/gp/image/sm/Dis2.png" alt="디즈니">
<nav class="navbar"  >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:#1245AB;" >Disney</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">겨울왕국
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">공식 영상</a></li>
          <li><a href="#">등장인물</a></li>
          <li><a href="#">OST</a></li>
        </ul>
      </li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">라푼젤
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">공식 영상</a></li>
          <li><a href="#">등장인물</a></li>
          <li><a href="#">OST</a></li>
        </ul>
      </li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">알라딘
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">공식 영상</a></li>
          <li><a href="#">등장인물</a></li>
          <li><a href="#">OST</a></li>
        </ul>
      </li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">미녀와 야수
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">공식 영상</a></li>
          <li><a href="#">등장인물</a></li>
          <li><a href="#">OST</a></li>
        </ul>
      </li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">토이스토리
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">공식 영상</a></li>
          <li><a href="#">등장인물</a></li>
          <li><a href="#">OST</a></li>
        </ul>
      </li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 모아나
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">공식 영상</a></li>
          <li><a href="#">등장인물</a></li>
          <li><a href="#">OST</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">검색하기</button>
    </form>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav><div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    <br><br><br>
      <p><a href="#"><img src="http://localhost:8080/gp/image/sm/snoww2.jpg" alt="눈" style="width:60px; height:40px;"></a></p><br><br>
      <p><a href="#"><img src="http://localhost:8080/gp/image/sm/snoww3.jpg" alt="눈" style="width:60px; height:40px;"></a></p><br><br>
      <p><a href="#"><img src="http://localhost:8080/gp/image/sm/snoww4.jpg" alt="눈" style="width:60px; height:40px;"></a></p><br><br>
      <p><a href="#"><img src="http://localhost:8080/gp/image/sm/snoww5.jpg" alt="눈" style="width:60px; height:40px;"></a></p><br><br>
    </div>
    <div class="col-sm-8 text-left"> 
    <h3 style="color:#000075; align:center;" >Into the unknown</h3>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/gIOyB9ZXn8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr>
    <h3 style="color:#000075;">A Whole New World</h3>  
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eitDnP0_83k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr>
    <h3 style="color:#000075;">How Far i'll Go</h3>  
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cPAbx5kgCJo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
    </div>
     
    <div class="col-sm-2 sidenav" >
    <p><a href="#" >Others</a></p>
      <div class="well" style="width:180px; height:200px;" >
      <img src="http://localhost:8080/gp/image/sm/winter2.jpg" alt="겨울왕국2" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;" >  
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/toy4.jpg" alt="토이스토리4" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/alradin.jpg" alt="알라딘" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/ju.jpg" alt="주먹왕" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/bb.jpg" alt="미녀와 야수" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/ma.jpg" alt="말레피센트2" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/coco.jpg" alt="코코" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/zoo.jpg" alt="주토피아" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/moa.jpg" alt="모아나" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/ra.jpg" alt="라푼젤" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>
      <div class="well" style="width:180px; height:200px;" >
       <img src="http://localhost:8080/gp/image/sm/winter1.jpg" alt="겨울왕국1" style="width:150px;height:170px; padding-bottom:5px; padding-right:5px;"/> 
      </div>      
    </div>
    </div>
</body>
</html>