<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>폴라로이드 느낌의 사진 만들기</title>
<style>
   .picture{border:solid #fff;
    		border-width : 6px 6px 20px 6px;
  		    box-shadow: 1px 1px 5px #333;
  		    width:450px; height:450px;}
   
   .text{text-align:center;
   	     color:#EF0E0E;
   	     padding:10px;}
   
</style>
</head>

<body>
	<h3><b>폴라로이드 느낌의 사진 만들기</b></h3>
	<hr>
	<div class="picture">
	<img src="http://localhost:8080/gp/image/ojh/rdj.jpg" alt="rdj" 
	     width="450" height="350">
	     
	<div class="text">
	<p><b>i am iron man</b><p>
	</div>
	</div>
	<br><br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/NBhSf_CVTJ8" 
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>
</body>
</html>