<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Git</title>
<style>
.1{width:300px; height:300px;}
</style>
</head>
<body>
<h1>Git</h1>
<h3>Git이란?</h3>
<p>-버전관리 시스템, 파일 변화를 시간에 따라 기록했다가 나중에 특정 시점의 버전을 다시 꺼내올 수 있는 시스템</p>
<p>-원격 저장소와 로컬 저장소에서 파일을 Push, Pull 한다</p>
<p>-효과적인 협업, 손쉬운 개발 및 테스트 환경 구축, 효율적인 배포관리를 위해 사용</p><br>
<h3>Git 프로젝트의 3단계</h3>
<p>-Working Directory, Staging Area, .git directory가 있다.</p>
<p>-Working Directory에서 작업한 파일을  Staging Area로 파일을 보내 commit을 할 수 있는 상태로 만든다.</p>
<p>-Staging Area에서 commit을 해서 .git directory로 보낸다.</p>
<p>-파일을 commit하면 해시가 할당된다</p><br>
<h3>Git 최초설정</h3>
<h4>사용자 정보($ git config --global user.name " ", $ git config --global user.email ~)</h4>
<h4>For Windows</h4>
<p>-편집기 설정: core.edit</p>
<p>-자동 줄바꿈 설정: autocrlf true</p>
<p>-원격 저장소와 로컬 저장소 동기화: prune true)</p>
<h4>설정이 잘 되었는지 확인($ git config --global --list)</h4>
<h4>Git 내부명령어 확인($ git)</h4><br>
<h3>프로젝트 관리</h3>
<h4>Git저장소 만들기</h4>
<p>-기존 디렉토리를 Git저장소로 만든다($ git init)</p>
<p>-기존 저장소를 Clone한다($ git clone)</p>
<p>-파일 무시하기($ gitignore)</p>
<h4>저장소에 저장하기</h4>
<p>-파일 상태 확인하기($ git status)</p>
<p>-Modified 상태의 파일을 Stage하기($ git add)</p>
<p>-파일 상태 확인하기($ git status)</p>
<p>-변경사항 커밋하기($ git commit)</p>
<h4>커밋 히스토리 조회하기($ git log)</h4>
<h4>커밋 되돌리기</h4>
<p>-commit을 취소하고 해당 파일들은 staged 상태로 워킹 디렉터리에 보존($ git reset --soft HEAD^)</p>
<p>-commit을 취소하고 해당 파일들은 unstaged 상태로 워킹 디렉터리에 보존($ git reset --mixed HEAD^, $ git reset HEAD^, $ git reset HEAD~2 :마지막 2개의 commit을 취소)</p>
<p>-commit을 취소하고 해당 파일들은 unstaged 상태로 워킹 디렉터리에서 삭제($ git reset --hard HEAD^)</p>
<p>-커밋 메시지 변경하기($ git commit --amend)</p>
<h4>리모트 저장소</h4>
<p>-리모트 저장소 추가하기($ git remote add origin)</p>
<p>-리모트 저장소에 Push하기($ git push --set --upstream origin master)</p>
<h4>리모트 저장소에서 가지고 오기($ git pull)</h4>
<h4>리모트 저장소</h4>
<p>-리모트 저장소 추가하기($ git remote add origin ~</p>
<p>-리모트 저장소에 push하기($ git push --set-upstream origin master)</p>
<h4>리모트 저장소에서 가지고 오기</h4>
<p>-원격 저장소에서 데이터를 로컬로 가져옴($ git fetch origin)-</p>
<p>-원격 저장소의 master 브랜치를 병합($ git merge origin/master)</p>
<p>=> 원격 저장소의 내용을 가져와 자동으로 병합($ git pull)</p>
<h4>Git 브랜치</h4>
<p>-현재 로컬에 존재하는 브랜치 확인하기($ git branch)</p>
<p>-새로운 브랜치 생성하기($ git branch 브랜치명)</p>
<p>-브랜치 이동하기($ git checkout 브랜치명)</p>
<p>-브랜치 생성과 동시에 이동하기($ git checkout -b 브랜치명)</p>
<p>-브랜치 삭제($ git branch -d 브랜치명)</p>
<h4>Merge의 기초</h4>
<p>-Merge: 합칠 브랜치에서 합쳐질 브랜치를 merge($ git merge 브랜치명)</p>
<p>-Merge 할 때 발생하는 상황
<p>1.Fast-Forward</p>
<div class="1">
<img src="http://localhost:8080/gp/image/ojh/1.jpg">
</div><br>
<p>2.Three-way Merge</p>
<div class="1">
<img src="http://localhost:8080/gp/image/ojh/2.jpg">
</div>
<p>-Conflict: Merge 하려는 두 브랜치에서 같은 파일의 같은 부분을 수정하고 merge할 때 충돌 발생 , 누가 충돌을 발생시켰는지 확인하고 싶을 때($ git blame 파일명)</p>
<h4>Tag</h4>
<p>-태그 조회하기($ git tag)</p>
<p>-태그 붙이기 1. LightWeight($ git tag 태그명):특정 커밋에 대한 포인터, 2. Annotated($ git tag -a 태그명): 태그를 만든 사람 이름, 이메일, 태그를 만든 날짜, 태그 메시지 저장</p>
<p>-태그 정보 확인하기($ git show 태그명): LightWeight(커밋 정보만 확인 가능), Annotated(태그 정보와 커밋 모두 확인 가능)</p>
<p>-태그 공유하기: ($ git push origin 태그명): 태그를 이용하여 checkout도 가능, ($ git push origin --tags)</p>
<p>=>태그를 만들면 서버에 별도로 Push해야 함(자동으로 리모트 서버에 태그를 전송하지 않음)</p>
<h4>Stashing</h4>
<p>-수정하던 것을 스택에 저장($ git stash, $ git stash save 이름)</p>
<p>-저장한 Stash 목록 확인하기($ git stash list)</p>
<p>-저장한 Stash 불러오기($ git stash apply 이름, $ git stash drop 아이디)</p>
<p>=> $ git stash pop</p>
</body>
</html>